.analytics {
  margin-top: 10px;
  @extend %flex-column;
  gap: 24px;
  padding-left: 24px;

  &__bricks__wrapper {
    display: grid;
    grid-gap: 24px;

    div:nth-child(3) {
      grid-column: 3;
      grid-row: 1 / span 2;
    }
  }
  &__chart {
    display: grid;
    grid-gap: 24px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;

    &__item {
      max-width: 448px;
      min-height: 190px;
      position: relative;
    }
    &__inner {
      width: inherit;
      height: inherit;
      background: var(--sidebar-background);
      box-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      padding: 30px;
      position: inherit;
    }
  }
}
.table {
  padding: 24px;
  box-shadow: var(--collapse-table-shadow) !important;
  border-radius: 8px;
  background-color: var(--paper) !important;
}

.tabs {
  gap: 32px;
  font-size: 16px;
  line-height: 20px;
  color: var(--cancel);
  justify-content: start;
  padding: 16px 0 0;
  @extend %flex-align;
  @extend %text-16-bold;
  margin: 10px 0;
}
.chart__wrapper {
  position: relative;
  width: 400px;
  height: auto;
}
