.analytics {
  margin-top: 10px;
  @extend %flex-column;
  gap: 24px;

  &__export {
    margin-bottom: 28px;
  }

  &__bricks__wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 400px 400px 293px;
    justify-content: center;

    div:nth-child(3) {
      grid-column: 3;
      grid-row: 1 / span 2;
    }
  }
  &__chart {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 557px 557px;
    justify-content: center;
  }
}
