.signIn {
  position: relative;

  &__form {
    margin-top: 32px;

    &__group {
      @extend %flex-column;
      gap: 14px;
      width: 100%;
      margin: 0 auto;
      max-width: 420px;

      &__header {
        @extend %text-20;
        margin-bottom: 32px;
        color: var(--font);
      }
      &__button {
        @extend %flex-end;
        gap: 24px;
      }
      &__edit {
        @extend %flex-end;
        gap: 24px;
        margin-top: 16px;

        &__cancel {
          padding: 0;
          color: var(--cancel);
          @extend %text-14-bold;
        }
        &__save {
          color: #004f33;
          border: none;
          padding: 0;
          background-color: transparent;
          max-width: fit-content;
          @extend %text-14-bold;
        }
      }
    }
  }
}
