.wrapper {
  width: 100%;
  position: relative;
}

.MuiTablePagination-toolbar {
  display: flex;
  padding: 0 !important;
  align-items: center !important;
  min-height: unset !important;
  margin-top: 17px;
}
.MuiTablePagination-spacer,
.MuiTablePagination-displayedRows {
  display: none;
}
.MuiTablePagination-select {
  margin: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.MuiTableCell-root {
  border: none !important;
}
.MuiTablePagination-menuItem {
  color: var(--font) !important;
}
.MuiMenu-list {
  background-color: var(--background) !important;
}
.MuiTablePagination-select {
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center !important;
  padding-left: 4px !important;
}

.MuiTablePagination-selectIcon {
  fill: var(--font) !important;
  left: 20px;
}

.MuiSwitch-track {
  background-color: linear-gradient(0deg, rgba(0, 151, 167, 0.1), rgba(0, 151, 167, 0.1)), #ffffff !important;
}

.Mui-checked + .MuiSwitch-track {
  background-color: #0097a7 !important;
}

.MuiSwitch-switchBase {
  padding: 9px 0 !important;

  &:hover {
    background-color: transparent !important;
  }
}

.MuiSwitch-switchBase:hover {
  background-color: none !important;
}

.MuiSwitch-root {
  padding: 12px 0 !important;
  width: 51px !important;
}

.MuiSwitch-thumb {
  background-color: #c4c4c4;
}

.MuiSwitch-switchBase.Mui-checked {
  transform: translateX(31px) !important;
}

.Mui-checked {
  color: #c4c4c4 !important;

  &:hover {
    background-color: transparent !important;
  }
}
.MuiCalendarPicker-root {
  background: var(--background);
}
.MuiPickersDay-root {
  background-color: var(--background) !important;
  color: var(--font) !important;

  &:hover {
    background-color: var(--select-border) !important;
  }
}

/// DateRangePicker

.rdrDateDisplayWrapper,
.rdrMonthAndYearPickers {
  display: none;
}

.rdrMonthName {
  padding: 0 0 12px;
  @extend %subtitle-14;
  color: var(--font);
}

.rdrMonthAndYearWrapper {
  padding: 16px 0 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.rdrMonthsHorizontal {
  gap: 32px;
}
.rdrMonth {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}
.rdrDayNumber {
  span {
    &::after {
      content: none !important;
    }
  }
}

.rdrNextPrevButton {
  background-color: transparent !important;
}

.rdrMonthName {
  text-align: center;
}
.rdrMonth {
  width: 226px;
}

.rdrDays {
  width: inherit;
  row-gap: 2px;
}

.rdrDay {
  max-width: 32px !important;
  max-height: 32px !important;
}
.rdrWeekDays {
  width: 224px;
  margin-bottom: 2px;
}

.rdrSelected,
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0 !important;
}

.rdrDayHovered {
  border-radius: 50%;
  background-color: #6200ee;
  color: var(--font) !important;
}

.rdrDayNumber {
  span {
    color: var(--font) !important;
    @extend %calendar-14;
  }
}

.rdrInRange {
  background: var(--calendar);
  color: var(--font);
}

.rdrEndEdge + .rdrDayNumber,
.rdrStartEdge + .rdrDayNumber,
.rdrDayStartPreview {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #6200ee !important;
  border-radius: 50%;
}
.rdrStartEdge,
.rdrEndEdge {
  background: var(--calendar);
}
.rdrDayInPreview,
.rdrDayStartPreview,
.rdrDayEndPreview {
  border: none;
}
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  background: none !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  color: none !important;
}

// .rdrDayToday {
//   color: var(--background) !important;
//   span {
//     background-color: transparent !important;
//     color: var(--font) !important;
//     border-color: transparent !important;
//   }
// }
/// Range swipe

.MuiSlider-rail {
  background: #29292e !important;
}
.MuiSlider-track {
  background: #6200ee !important;
}
.MuiSlider-thumb {
  background-color: #d9d9d9 !important;
}

// ///select
// .MuiSelect-select {
//   padding: 0 !important;
//   border: none !important;
//   outline: none !important;

//   fieldset: {
//     display: 'none';
//   }
// }

// .MuiSelect-outlined {
//   border: none !important;
//   background: transparent;
//   outline: none !important;

//   &:hover {
//     border: none !important;
//     outline: none !important;
//   }
// }

// .MuiOutlinedInput-notchedOutline {
//   display: none;
// }
// .MuiOutlinedInput-input {
//   padding: 13px 36px 13px 12px;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 100%;
// }

// .Mui-selected {
//   background: rgba(245, 245, 245, 0.1) !important;
// }

// .MuiMenu-list {
//   border: 1px solid rgba(41, 41, 46, 0.3) !important;
//   box-shadow: 0px 2px 25px 2px rgba(0, 0, 0, 0.12) !important;
//   padding: 0 !important;
// }
