.signIn {
  position: relative;

  &__form {
    margin-top: 48px;

    &__group {
      @extend %flex-column;
      gap: 16px;

      &__error {
        color: var(--danger);
        @extend %text-14;
      }

      &__button {
        @extend %flex-end;
      }
      &__input {
        background-color: var(--input-background-secondary) !important;
      }
    }
  }
}
