.select {
  position: relative;
  gap: 6px;
  width: 100%;
  @extend %flex-column;

  &-errorMsg {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-top: 4px;
    color: var(--danger);
  }

  &__chip {
    color: var(--font) !important;
    border-radius: 12px !important;
    background: var(--popup-background) !important;

    @extend %flex-align;
    gap: 4px !important;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
    }
    &__icon {
      width: 14px;
      height: 14px;
    }
  }
  &__placeholder {
    color: var(--placeholder) !important;
  }
  &__label {
    color: var(--font);
    @extend %text-14;
  }
}
