.toolbar {
  @extend %flex-between;

  &_noLink {
    justify-content: flex-end;
  }

  &__link {
    width: 100%;
  }
  &__filter {
    cursor: pointer;
    margin-right: 30px;
    @extend %flex-center;
  }
}
.wrapper {
  @extend %flex-column;
  gap: 30px;
  margin-bottom: 32px;
}
