.select {
  &-wrapper {
    position: relative;
    gap: 6px;
    @extend %flex-column;
  }

  &-label {
    color: var(--font);
    @extend %text-14;
  }

  &-errorMsg {
    left: 0;
    color: var(--danger);
    bottom: 0;
    position: absolute;
    transform: translate(0, 100%);
    @extend %text-10;
  }

  &__dropdown {
    position: absolute;
    right: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: calc(50% - 12px);

    &__open {
      transform: rotate(180deg);
    }
  }

  &__option {
    gap: 3px;
    color: var(--select-font);
    width: 100%;
    z-index: 1;
    display: none;
    position: absolute;
    border-radius: 0 0 4px 4px;
    backdrop-filter: blur(24px);
    text-transform: capitalize;
    background: var(--select-option);
    @extend %text-13;
    @extend %flex-column;

    &__action {
      padding: 6px 12px;
      justify-content: start;
      @extend %flex-align;
      @extend %text-13;
      cursor: pointer;
      gap: 10px;

      &__select {
        color: #3700b3;
      }
    }
    &__item {
      padding: 6px 12px;
      cursor: pointer;
      &:hover {
        background-color: var(--select-hover);
      }
      &__selected {
        background-color: var(--select-hover);
      }
    }

    &__open {
      display: block;
      border-radius: 0 0 4px 4px;
    }
  }
}

.header {
  margin: 0;
  width: 100%;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  appearance: none;
  line-height: 100%;
  border-radius: 4px;
  min-height: 40px;
  position: relative;
  border: 1px solid transparent;
  color: var(--font);
  background-color: var(--select-background);
  padding: 12px 46px 12px 10px;
  text-transform: capitalize;
  cursor: pointer;
  &:hover {
    border: 1px solid var(--select-border);
  }
  &__open {
    background-color: var(--select-option);

    border-radius: 4px 4px 0 0;
    border: 1px solid var(--select-border);
  }
}
