.select {
  &-wrapper {
    position: relative;
    gap: 6px;
    @extend %flex-column;
  }

  &-label {
    color: var(--font);
    @extend %text-14;
  }

  &-errorMsg {
    left: 0;
    color: var(--danger);
    bottom: 0;
    position: absolute;
    transform: translate(0, 100%);
    @extend %text-10;
  }

  &__dropdown {
    position: absolute;
    right: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    top: calc(50% - 12px);

    &__open {
      transform: rotate(180deg);
    }
  }

  &__option {
    background: var(--select-option);
    border-radius: 0 0 4px 4px;
    border: {
      top: none;
      left: 1px solid var(--select-border);
      right: 1px solid var(--select-border);
      bottom: 1px solid var(--select-border);
    }
    gap: 3px;
    color: var(--select-font);
    width: 100%;
    z-index: 1;
    display: none;
    padding: 12px 10px;
    position: absolute;
    border-radius: 4px;
    backdrop-filter: blur(24px);
    @extend %text-14;
    @extend %flex-column;

    &__item {
      padding: 12px 10px;
      cursor: pointer;
      &:hover {
        background-color: var(--select-hover);
      }
    }

    &__open {
      display: block;
      border-radius: 0 0 4px 4px;
    }
  }
}

.header {
  margin: 0;
  width: 100%;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  appearance: none;
  line-height: 100%;
  border-radius: 4px;
  position: relative;
  border: 1px solid var(--select-border);
  color: var(--placeholder);
  background-color: var(--select-background);
  padding: 12px 46px 12px 10px;

  &__open {
    border-radius: 4px 4px 0 0;
  }
}
