.wrapper {
  width: auto;
  overflow: hidden;
  padding: 24px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 750px;
  width: -webkit-fill-available;

  &__header {
    background: $secondary;
    border-radius: 4px 4px 0px 0px;
    display: table-header-group;

    &__secondary {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #009688;
      border-radius: 4px 4px 0px 0px !important;
    }
    &__ceil {
      text-align: left;
      color: $white;
      font-size: 13px !important;
      line-height: 16px;
      padding: 14.5px 16px !important;
    }
  }
  &__body {
    display: table-row-group;

    &__row {
      &:nth-child(even) {
        background: $primary-input;
      }

      &__ceil {
        padding: 16px !important;
        border-bottom: none !important;
        font-size: 13px !important;
        line-height: 16px !important;

        &__actions {
          gap: 6px;
          cursor: pointer;
          @extend %flex-align;
        }
      }
    }
  }
}
